[push]
	default = simple
[user]
	name = Lubomir Host
	email = lubomir.host@gmail.com
[color]
	ui = true
[core]
	pager = less -x5 -r
[diff]
	noprefix = true
	mnemonicprefix = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitg
[http]
#	proxy = http://proxy:3128
