#
# ~/.my.cnf should contain only two "!includedir" options:
# 	- one for system wide options from dotfile.git project
# 	- one for user specific options (like user & password settings)
#

# TODO: mysql doesn't expand ~/ as $HOME directory
#!includedir ~/.config/dotfiles.git/mysql/

# user specific config goes here
#!includedir ~/.mysql/

